.contenedor {
    padding: 16px; /* Ajusta el espaciado */
    background-color: var(--fondo-secundario); /* Fondo específico */
  }
  
  .titulo {
    text-align: center; /* Centrar el texto */
    margin: 20px; /* Espaciado inferior */
    color: var(--color-letras-iconos); /* Color del texto */
  }
  
  .tarjeta {
    background-color: var(--fondo-terciario); /* Fondo de la tarjeta */
    padding: 16px; /* Espaciado interno */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
  }
  
  .tarjeta-titulo {
    font-family: 'UberMoveBold'; /* Fuente del título */
    color: var(--color-letras-iconos); /* Color del texto */
    margin-bottom: 10px; /* Espaciado inferior */
  }
  
  ion-button {
    margin: 8px 0; /* Espaciado vertical entre botones */
  }
  